%h1 Listing designers

%table
  %tr
    %th Email
    %th Avatar url
    %th Authen
    %th Storyboard
    %th Viewing storyboard
    %th
    %th
    %th

  - @designers.each do |designer|
    %tr
      %td= designer.email
      %td= designer.avatar_url
      %td= designer.auth_token
      %td= designer.storyboard_id
      %td= designer.viewing_storyboard_id
      %td= link_to 'Show', designer
      %td= link_to 'Edit', edit_designer_path(designer)
      %td= link_to 'Destroy', designer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Designer', new_designer_path
