%p#notice= notice

%p
  %b Email:
  = @designer.email
%p
  %b Avatar url:
  = @designer.avatar_url
%p
  %b Authen:
  = @designer.auth_token
%p
  %b Storyboard:
  = @designer.storyboard_id
%p
  %b Viewing storyboard:
  = @designer.viewing_storyboard_id

= link_to 'Edit', edit_designer_path(@designer)
\|
= link_to 'Back', designers_path
