= form_for @storyboard do |f|
  - if @storyboard.errors.any?
    #error_explanation
      %h2= "#{pluralize(@storyboard.errors.count, "error")} prohibited this storyboard from being saved:"
      %ul
        - @storyboard.errors.full_messages.each do |msg|
          %li= msg

  .field
  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
