.row
  .col-md-24
    %h2.statement.pal
      Make it easier for people to orient themselves when they emerge from a BART station
.row#sketches.clearfix
  .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    .sketch-img{ 'data-sketch-id' => '1'}
      = image_tag 'image-cover.png', class: 'img-responsive handle'
    %p.description.pvm
      1
  .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    .sketch-img{ 'data-sketch-id' => '2'}
      = image_tag 'image-cover.png', class: 'img-responsive handle'
    %p.description.pvm
      2
  .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    .sketch-img{ 'data-sketch-id' => '3'}
      = image_tag 'image-cover.png', class: 'img-responsive handle'
    %p.description.pvm
      3
  .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    .sketch-img{ 'data-sketch-id' => '4'}
      = image_tag 'image-cover.png', class: 'img-responsive handle'
    %p.description.pvm
      4
  .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    .sketch-img{ 'data-sketch-id' => '5'}
      = image_tag 'image-cover.png', class: 'img-responsive handle'
    %p.description.pvm
      5
  .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    .sketch-img{ 'data-sketch-id' => '6'}
      = image_tag 'image-cover.png', class: 'img-responsive handle'
    %p.description.pvm
      6
  .add-sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
    %label.pan.man{ for: 'addsketch'}
      .icon
        .fa.fa-icon.fa-camera
        .fa.fa-icon.fa-plus
      .sketch-img
        = image_tag 'image-cover.png', class: 'img-responsive handle', draggable: false
    %input#addsketch{ type: 'file', style: 'display: none;'}
