.container
  .row
    .col-md-24
      %h1.type-ellipsis-1-line
        Make it easier for people to orient themselves when they emerge from a BART station
    .container
      .row#sketches
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            1
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            2
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            3
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            4
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            5
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            6
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            7
        .sketch.col-xs-24.col-sm-12.col-md-8.col-lg-8
          = image_tag 'placeholder.png', class: 'img-responsive'
          %p.description.pvm
            8
