!!!
%html
  %head
    %title Episketch
    %meta{content: "width=device-width, initial-scale=1.0, user-scalable=no", name: 'viewport'}
    %link{ type: "image/png", rel: "icon", href: image_path('sketchlab-logo@2x.png')}
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{ class: [controller_name, action_name] }
    .container.mvl
      = yield